<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="serial_link_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import serial_link_robot urdf file -->
    <xacro:include filename="$(find serial_link_robot)/urdf/serial_link_robot.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="serial_link_robot.ros2_control.xacro" />


    <xacro:serial_link_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
